[submodule "quickstart/themes/mini"]
	path = quickstart/themes/mini
	url = https://github.com/nodejh/hugo-theme-mini.git
[submodule "themes/brewski"]
	path = themes/brewski
	url = https://github.com/tiaanduplessis/hexo-theme-brewski.git
