[submodule "source/_posts"]
	path = source/_posts
	url = https://github.com/Yasukazu/_posts.git
[submodule "themes/ym-start"]
	path = themes/ym-start
	url = git@github.com:Yasukazu/ym-start.git
[submodule "blog"]
	path = blog
	url = git@github.com:Yasukazu/blog.git

[submodule "plugins/ym-hexo-search-result"]
	path = plugins/ym-hexo-search-result
	url = git@github.com:Yasukazu/ym-hexo-search-result.git
