@import "node_modules/sanitize.scss/_sanitize.scss";

body {
    display: grid;
    grid-auto-rows: fit-content
                    auto;
    grid-template-columns: 1fr;
    grid-template-areas: "top"
                        "center";
}

#menu-outer {
    grid-area: top;
    background-color: #aaa;
}

#content-outer {
    grid-area: center;
}